var filter = {
  contain:function(arr, item){
    return arr.indexOf(item) > -1;
  },
  chooseURI: function (content) {
    var domain  = (content && content.domain) || "";
    var fileIds = (content && content.fileIds) || [];
    var originUrl = (content && (content.lessonURI || content.mediaURI));
    var mType = (content && (content.lessonType || content.mediaType));
    var result = null;
    var mimeTypes = [];
    if (mType == "video"){
      mimeTypes = ['mp4', 'm3u8','avi'];
    } else {
      mimeTypes = ['mp3', 'm4a', 'aac', 'amr', 'wav'];
    }
    for (var i = 0; i < mimeTypes.length; i++) {
      for (var j = 0; j < fileIds.length; j++) {
        if (fileIds[j].substring(fileIds[j].lastIndexOf('.')+1, fileIds[j].length) === mimeTypes[i] && result == null){
          if(fileIds[j].indexOf('group1') > -1 || fileIds[j].indexOf('group2')>-1){
            domain = 'http://audio.pay.xmcdn.com/';
          }
          result = domain + fileIds[j]
        }
      }
    }
    if(result == null){
      result = originUrl;
    }
    return result;
  }
}


module.exports = {
  contain:filter.contain,
  chooseURI: filter.chooseURI
}